//====================================================================================================

.popup {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.8s ease 0s;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
	&:target {
		opacity: 1;
		visibility: visible;
	}
	&:target .popup__content {
		opacity: 1;
		transform: translate(0, 0);
	}

	// .popup__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
	}
	&__close-area {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	// .popup__content
	&__content {
		transform: translate(0, -100%);
		transition: all 0.8s ease 0s;
		opacity: 0;
		background-color: #fff;
		padding: 40px;
		width: 100%;
		max-width: 750px;
		border-radius: 10px;
		position: relative;
	}
	// .popup__close
	&__close {
		display: block;
		width: 25px;
		height: 25px;
		position: absolute;
		top: 10px;
		right: 4px;
		cursor: pointer;
		z-index: 30;
		background: url("../img/icons/close.svg") 0 0 no-repeat;
	}
}

//====================================================================================================
//====================================================================================================

.banner-form {
	&__title {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 900;
		text-align: center;
		margin-bottom: 15px;
	}
	&__suptitle {
		color: #9f9f9f;
		margin-bottom: 20px;
	}
	&__name {
		width: 100%;
		height: 40px;
		padding: 0px 0px 0px 40px;
		background-image: url("../img/name.png");
		background-repeat: no-repeat;
		background-position: 15px 10px;
	}
	&__tel {
		height: 40px;
		padding: 0px 0px 0px 40px;
		background-image: url("../img/phone.png");
		background-repeat: no-repeat;
		background-position: 15px 10px;
	}
	&__text {
		height: 80px;
		padding: 9px 0px 0px 40px;
		background-image: url("../img/modal-message.png");
		background-repeat: no-repeat;
		background-position: 15px 10px;
	}
	button.banner-form__btn {
		width: 220px;
	}
}
.banner-form__btn:active {
	background-color: #000;
}
// .active-form {
// 	display: flex;
// }
