//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$xSmallDisplay: 319.98;
$smallDisplay: 479.98;
$mediumDisplay: 767.98;
$normalDisplay: 1150;

$yellowColor: #fcc313;
$borderColor: solid 2px rgba(102, 95, 95, 0.5);
//</ПЕРЕМЕННЫЕ>===========================================================================================================
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
// ._container {
// 	max-width: $maxWidthContainer + px;
// 	margin: 0 auto;
// 	@media (max-width: $md1+px) {
// 		max-width: 970px;
// 	}
// 	@media (max-width: $md2+px) {
// 		max-width: 750px;
// 	}
// 	@media (max-width: $md3+px) {
// 		max-width: none;
// 		padding: 0 10px;
// 	}
// }

.container {
	margin: 0 auto;
	padding: 0px 10px;
	@media (min-width: $xSmallDisplay+px) {
		max-width: 100%;
	}
	@media (min-width: $smallDisplay+px) {
		max-width: 100%;
	}
	@media (min-width: $mediumDisplay+px) {
		max-width: 748px;
	}
	@media (min-width: $normalDisplay+px) {
		max-width: 1130px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "popup";
@import "header";
@import "banner";
@import "last-works";
@import "advantages";
@import "price";
@import "text";
@import "text-copy";
@import "start";
@import "feedback";
@import "footer";
@import "home";
@import "mods";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
