.text-copy {
  font-size: 16px;
  line-height: 27px;
  padding: 90px 0px;
  position: relative;

  &__inner {
    @media (min-width: $normalDisplay+px) {
      max-width: 520px;
      padding-right: 25px;
    }
  }

  &__title {
    font-size: 24px;
    text-transform: uppercase;
    color: $yellowColor;
    letter-spacing: 1px;
    font-weight: 900;
    text-align: center;
    line-height: 35px;
    margin-bottom: 55px;
    @media (min-width: $normalDisplay+px) {
      max-width: 730px;
      margin: 0px auto 55px auto;
    }
  }
  &__paragraph {
    margin-bottom: 20px;
  }
  &__list-title {
    font-weight: 700;
    margin-bottom: 15px;
  }
  &__list {
    margin-bottom: 10px;
    li {
      background: url("../img/list-dot.png") 0 8.5px no-repeat;
      padding-left: 25px;
    }
  }

  &__image {
    display: none;
    @media (min-width: $normalDisplay+px) {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      overflow: hidden;
      height: 78%;
      width: 50%;
    }
    img {
      @media (min-width: $normalDisplay+px) {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
